:root {
  --colour1: #212121;
  --colour2: rgb(59, 59, 59);
  --colour3: rgb(90, 223, 176);
  --colour4: rgb(124, 124, 124);
}

/* UNIVERSAL STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY STYLING */
body {
  font-size: 1.5rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: var(--colour1);
  color: white;
}

/* HEADER STYLING */
header {
  padding: 30px 0px 30px 100px;
  background-color: var(--colour1);
}

#title {
  color: var(--colour3);
}

/* SEARCH SECTION STYLING */
#search-container {
  display: flex;
  justify-content: center;
}

#search-section {
  width: 700px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: var(--colour2);
  padding: 30px;
  border-radius: 10px;
}

#filter-btn {
  border: none;
  padding: 10px 15px;
  font-size: 1.35rem;
  border-radius: 7px;
  margin-right: 30px;

  background-color: var(--colour3);
  color: var(--colour4);
  font-weight: 600;
}

#search-field {
  border: none;
  padding: 10px;
  font-size: 1.5rem;

  background-color: var(--colour2);
  color: white;
}

#search-btn {
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  margin-left: 30px;

  background-color: var(--colour2);
  color: var(--colour4);
}

/* TRENDING WEEK SECTION STYLING */
#trending-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#trending-section {
  display: flex;
  justify-content: center;
  width: 1500px;
}

#trending-week {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* RESPONSIVE DESIGN */

@media (max-width: 779px) {
  header {
    padding: 0px;
    margin-top: 30px;
  }

  header h1 {
    text-align: center;
  }

  #search-section {
    width: 525px;
    padding: 25px;
    margin-top: 80px;
    justify-content: center;
  }

  #filter-btn {
    padding: 5px 7px;
    font-size: 1.2rem;
  }

  #search-field {
    padding: 5px;
    font-size: 1.2rem;
  }

  #search-btn {
    padding: 5px;
    font-size: 1.2rem;
  }

  #trending-section {
    width: 600px;
  }
}

@media (max-width: 610px) {
  header {
    padding: 0px;
    margin-top: 30px;
  }

  #search-section {
    width: 500px;
    padding: 25px;
    margin-top: 70px;
    justify-content: center;
  }

  #filter-btn {
    padding: 5px 5px;
    font-size: 1rem;
    font-weight: 400px;
  }

  #search-field {
    padding: 5px;
    font-size: 1rem;
  }

  #search-btn {
    padding: 5px;
    font-size: 1rem;
    margin-left: 30px;
  }

  #trending-container {
    margin-top: 50px;
  }

  #trending-week {
    justify-content: center;
  }
}

@media (max-width: 519px) {
  header {
    padding: 0px;
    margin-top: 30px;
  }

  header h1 {
    font-size: 2.5rem;
  }

  #search-section {
    width: 300px;
  }

  #search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #filter-btn {
    margin: 0;
    margin-bottom: 10px;
  }

  #search-btn {
    margin: 0;
    margin-top: 5px;
  }

  #trending-container {
    margin-top: 50px;
  }
}
