:root {
  --colour1: #212121;
  --colour2: rgb(59, 59, 59);
  --colour3: rgb(90, 223, 176);
  --colour4: rgb(124, 124, 124);
  --colour5: rgb(50, 124, 98);
}

/* UNIVERSAL STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY STYLING */
body {
  font-size: 1.5rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: var(--colour1);
  color: white;
}

/* HEADER STYLING */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 0px 30px 100px;
  background-color: var(--colour1);
  color: white;
}

#title {
  color: var(--colour3);
}

nav {
  display: flex;
  gap: 30px;
  margin-right: 100px;
}

#home-btn,
#watchlist-btn {
  background-color: var(--colour1);
  border: none;
  background-color: var(--colour3);
  color: var(--colour1);
  font-size: 1.3rem;
  padding: 7px 10px;
  font-weight: bold;
  border-radius: 7px;
  text-decoration: none;
}

nav #home-btn:hover {
  background-color: var(--colour5);
  color: white;
}

nav #watchlist-btn:hover {
  background-color: var(--colour5);
  color: white;
}

/* MEDIA SECTION STYLING */
#media-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#media-section {
  width: 1500px;
}

#media {
  display: flex;
  justify-content: center;
  background-color: var(--colour2);
  padding: 30px;
  border-radius: 10px;
  margin-top: 50px;
}

/* RECOMMENDATIONS SECTION STYLING */
#recommendations-container {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

#recommendations-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1500px;
}

#recommendations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#header {
  margin-bottom: 50px;
  color: var(--colour4);
}

/* RESPONSIVE DESIGN */

@media (max-width: 1540px) {
  #media-section {
    width: 1200px;
  }

  #recommendations-section {
    width: 1200px;
  }
}

@media (max-width: 1225px) {
  #media-section {
    width: 1000px;
  }

  #recommendations-section {
    width: 1000px;
  }
}

@media (max-width: 1020px) {
  header {
    padding: 0px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  nav {
    flex-direction: column;
    margin: 0px;
    margin-top: 30px;
    gap: 20px;
  }

  #home-btn,
  #watchlist-btn {
    padding: 7px 100px;
  }

  #media-section {
    width: 800px;
  }

  #recommendations-section {
    width: 800px;
  }

  @media (max-width: 850px) {
    #media-section {
      width: 400px;
    }

    #media {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin-left: 10px;
    }

    #recommendations-section {
      width: 400px;
    }

    #header {
      text-align: center;
    }
  }

  @media (max-width: 620px) {
    header h1 {
      font-size: 2rem;
    }

    #home-btn,
    #watchlist-btn {
      padding: 5px 50px;
      font-size: 1rem;
    }

    #recommendations-section {
      width: 300px;
    }

    #recommendations {
      justify-content: center;
      gap: 50px;
    }
  }
}
