:root {
  --colour1: #212121;
  --colour2: rgb(59, 59, 59);
  --colour3: rgb(90, 223, 176);
  --colour4: rgb(124, 124, 124);
  --colour5: rgb(50, 124, 98);
}

/* UNIVERSAL STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY STYLING */
body {
  font-size: 1.5rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: var(--colour1);
  color: white;
}

/* HEADER STYLING */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 30px 0px 30px 100px;
  background-color: var(--colour1);
  color: white;
}

#title {
  color: var(--colour3);
}

nav {
  display: flex;
  gap: 30px;
  margin-right: 50px;
}

#home-btn {
  background-color: var(--colour1);
  border: none;
  background-color: var(--colour3);
  color: var(--colour1);
  font-size: 1.3rem;
  padding: 7px 10px;
  font-weight: bold;
  border-radius: 7px;
  text-decoration: none;
}

nav #home-btn:hover {
  background-color: var(--colour5);
  color: white;
}

/* WATCHLIST STYLING */
#watchlist-container {
  display: flex;
  justify-content: center;
}

#watchlist-section {
  width: 1500px;
}

#watchlist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

#watchlist-header {
  display: flex;
  justify-content: center;
  margin: 30px 0px 100px;
  text-shadow: 2px 2px 3px var(--colour3);
  font-size: 1.75rem;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1535px) {
  #watchlist-section {
    width: 1000px;
  }
}

@media (max-width: 1060px) {
  #watchlist-section {
    width: 700px;
  }
}

@media (max-width: 750px) {
  #watchlist-section {
    width: 300px;
  }

  header {
    flex-direction: column;
    padding: 0;
    margin-top: 30px;
  }

  header h1 {
    font-size: 2.5rem;
  }

  nav {
    margin: 0;
  }

  #home-btn {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 7px 125px;
  }
}
